In [1]:
%matplotlib inline
import math  # 標準のmathモジュール

import numpy as np  # NumPy
import pandas as pd  # Pandas

from matplotlib import pylab as plt  # Matplotlib

# matplotlibで日本語表示する為の指定
import japanize_matplotlib

In [2]:
# 合計本数
# (24ユニット * 2,000万本)
total_num = 24 * 20000000

df = pd.read_csv('../../9_data/宝くじ/「年末ジャンボ宝くじ」（第770回_全国自治宝くじ）の当せん金・本数.csv')
df = df.append(pd.Series(['外れ', 0, total_num - df['本数'].sum()], index=df.columns), ignore_index=True)
df

       等級等       当せん金         本数
0       1等  700000000         24
1   1等の前後賞  150000000         48
2  1等の組違い賞     100000       4776
3       2等   10000000         72
4       3等    1000000       2400
5       4等     100000      96000
6       5等      10000     480000
7       6等       3000    4800000
8       7等        300   48000000
9       外れ          0  426616680

In [3]:
r = 0

for m, p in zip(df['当せん金'], df['本数']):
    r += m * (p / total_num)

r

147.495

In [4]:
np.average(df['当せん金'], weights=[p / total_num for p in df['本数']])

147.495

In [5]:
# 合計本数
# (15ユニット * 1,000万本)
total_num = 15 * 10000000

df = pd.read_csv('../../9_data/宝くじ/「年末ジャンボミニ」（第771回_全国自治宝くじ）の当せん金・本数.csv')
df = df.append(pd.Series(['外れ', 0, total_num - df['本数'].sum()], index=df.columns), ignore_index=True)
df

       等級等      当せん金         本数
0       1等  30000000         75
1   1等の前後賞  10000000        150
2       2等  10000000        150
3       3等   1000000       1500
4       4等    100000      45000
5       5等     10000     150000
6       6等      3000    1500000
7       7等       300   15000000
8  年末ラッキー賞     20000      30000
9       外れ         0  133273125

In [6]:
# 正解例

r = 0

for m, p in zip(df['当せん金'], df['本数']):
    r += m * (p / total_num)

r

149.0